{% extends 'base.html' %}

{% block content %}
<div id="add-post" style="float:left; margin-bottom: 40px;">
    <a href="{% url "addposts" %}" class="btn btn-primary btn-sm"> Add Post </a>
</div>
<br><br>
<div class="container">    
    {% for post in posts %}
    <div class="panel panel-default">

        {% if post.url is not none %}
            <a href="{{ post.url }}">{{ post.title }}</a>
        {% else %}
            <a href="#">{{ post.title }}</a>
        {% endif  %}
        {% if user.is_authenticated %}
            <a href="{% url "edit_post" pk=post.author.id %}" class="btn btn-primary btn-sm" style="float: right;"> Edit Post </a>
            <a href="{% url "deletepost" pk=post.author.id %}" class="btn btn-primary btn-sm" style="float: right;"> Delete Post </a>
        {% endif %}
        {{ post.description }}
        {% if post.datetime_added > post.datetime_modified %}
            {{ post.datetime_added }}
        {% else %}
            {{ post.datetime_modified }}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}